In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, sys

sys.path.append('/user_data/mmhender/featsynth/')

project_root = '/user_data/mmhender/featsynth/'
expt_name = 'pilot1'
data_folder = os.path.join(project_root, 'online_data', expt_name)
preproc_folder = os.path.join(data_folder, 'preproc')

from code_preproc import preproc_pilot1
preproc_pilot1.preproc_all()

/user_data/mmhender/featsynth/online_data/pilot1/data_exp_104845-v9/data_exp_104845-v9_task-sq8b.csv
/user_data/mmhender/featsynth/online_data/pilot1/data_exp_104845-v11/data_exp_104845-v11_task-sq8b.csv
saving to /user_data/mmhender/featsynth/online_data/pilot1/preproc/good_sub_list.csv
saving to /user_data/mmhender/featsynth/online_data/pilot1/preproc/all_sub_list.csv

subject 0, id: 0yt4ywmv
run accuracies, avg RTs:
[78. 86. 78. 86. 83. 90. 92. 79. 89. 89.] [722. 713. 681. 740. 743. 700. 796. 696. 670. 717.]
counterbalance cond: 1
intact acc: 0.92

subject 1, id: 2yrs98lj
run accuracies, avg RTs:
[11. 15. 19. 31. 22. 26. 25. 15. 31. 33.] [ 574.  757.  814.  866.  770.  825.  903.  795. 1120. 1167.]
counterbalance cond: 1
intact acc: 0.24
skipping this subject

subject 2, id: 4cntwgpn
run accuracies, avg RTs:
[10. 13. 36. 22. 17.  0. 51. 11.  0. 10.] [508. 523. 452. 299. 436. 500. 307. 477. 500. 466.]
counterbalance cond: 2
intact acc: 0.15
skipping this subject

subject 3, id: 4qlnnzsd
run accuracies, avg RTs:
[35. 51. 36. 50. 40. 28. 35. 49. 46. 36.] [399. 284. 156. 240. 228. 342. 122. 248. 307. 372.]
counterbalance cond: 1
intact acc: 0.41
skipping this subject

subject 4, id: 5ploo1az
run accuracies, avg RTs:
[ 6. 35. 54. 43. 57. 47. 57. 38. 44. 58.] [528. 490. 681. 596. 580. 847. 855. 611. 555. 701.]
counterbalance cond: 2
intact acc: 0.45
skipping this subject

subject 5, id: 76bhcm4d
run accuracies, avg RTs:
[63. 79. 76. 79. 76. 78. 81. 76. 74. 81.] [665. 681. 614. 630. 595. 633. 590. 592. 644. 610.]
counterbalance cond: 2
intact acc: 0.87

subject 6, id: 7povpisi
run accuracies, avg RTs:
[86. 81. 89. 86. 82. 86. 93. 94. 94. 90.] [1062.  847.  844.  829.  809.  807.  776.  728.  754.  743.]
counterbalance cond: 2
intact acc: 0.96

subject 7, id: bw0mm82w
run accuracies, avg RTs:
[ 8. 35. 47. 21. 50. 28. 60. 47. 71. 35.] [536. 380. 283. 442. 287. 301. 177. 357. 271. 323.]
counterbalance cond: 2
intact acc: 0.40
skipping this subject

subject 8, id: jkjn531f
run accuracies, avg RTs:
[78. 83. 72. 79. 85. 81. 86. 83. 81. 82.] [765. 677. 621. 576. 636. 687. 646. 638. 623. 599.]
counterbalance cond: 1
intact acc: 0.89

subject 9, id: msadf654
run accuracies, avg RTs:
[83. 83. 89. 92. 89. 88. 92. 90. 88. 92.] [632. 542. 534. 535. 555. 535. 557. 486. 557. 527.]
counterbalance cond: 2
intact acc: 0.94
saving to /user_data/mmhender/featsynth/online_data/pilot1/preproc/preproc_data_all.csv

#### Print complete subjects

In [6]:
good_df = pd.read_csv(os.path.join(preproc_folder,'good_sub_list.csv'))

sort_order = np.argsort(np.array(good_df['Expt Start Time (PST)']))
good_df.iloc[sort_order]
# good_df

,Unnamed: 0,Gorilla public ID,Survey Completion Code,Worker ID mTurk,Expt Start Time (PST),Expt End Time (PST),Total number of trials,Avg Acc,Avg RT (ms),Experiment version num,Task version num
4,4,5ploo1az,uxiccg,NaN,02/12/2022 11:48:02,02/12/2022 12:52:59,720,43.9,644.4,11.0,14.0
6,6,7povpisi,rfbsup,NaN,02/12/2022 13:52:40,02/12/2022 14:35:23,720,88.1,819.9,11.0,14.0
2,2,4cntwgpn,boyyad,NaN,02/12/2022 14:29:17,02/12/2022 15:15:38,720,17.0,446.8,11.0,14.0
7,7,bw0mm82w,poksdr,NaN,02/12/2022 17:14:32,02/12/2022 17:58:18,720,40.2,335.7,11.0,14.0
0,0,0yt4ywmv,qoglba,NaN,18/11/2022 11:39:27,18/11/2022 12:21:38,720,85.0,717.8,9.0,14.0
8,8,jkjn531f,hoispv,NaN,22/11/2022 07:20:27,22/11/2022 08:09:25,720,81.0,646.8,9.0,14.0
9,9,msadf654,xnsfxn,NaN,22/11/2022 07:22:37,22/11/2022 08:05:29,720,88.6,546.0,9.0,14.0
5,5,76bhcm4d,eshaum,NaN,22/11/2022 07:23:08,22/11/2022 08:08:00,720,76.3,625.4,9.0,14.0
3,3,4qlnnzsd,pczuio,NaN,22/11/2022 07:26:48,22/11/2022 08:12:11,720,40.6,269.8,9.0,14.0
1,1,2yrs98lj,hpkyuz,NaN,22/11/2022 07:56:18,22/11/2022 08:42:07,720,22.8,859.1,9.0,14.0

#### Print incomplete subjects

In [7]:
all_df = pd.read_csv(os.path.join(preproc_folder,'all_sub_list.csv'))
incomplete_df =all_df.loc[all_df['Total number of trials']<720,:]

sort_order = np.argsort(np.array(incomplete_df['Expt Start Time (PST)']))
incomplete_df.iloc[sort_order]

Empty DataFrame
Columns: [Unnamed: 0, Gorilla public ID, Survey Completion Code, Worker ID mTurk, Expt Start Time (PST), Expt End Time (PST), Total number of trials, Avg Acc, Avg RT (ms), Experiment version num, Task version num]
Index: []